body{
    font-family: "Manrope", sans-serif;

}
.blockh1{
    font-size: 60px;
    width: 956px;
    height: 120px;
    margin: 0 auto;
    
    margin-top: 128px;
    margin-bottom: 30px;
    margin-left: 125px;
}

h1{
    font-size: 55px;
    line-height: 60px;
    font-weight: 400;
    text-align: left;
    


color: black;
}

.interer1-fon {
    background-image: url('../resourses/interer1.jpg');
    width: 1150px;
    height: 500px;

    margin-bottom: 150px;
    margin-left: 125px;
    

}
.interer1-fon-text{
color: white;
padding-top: 379px;
padding-left: 40px;



width: 430px;
height: 81px;
}



p1{
    font-size: 18px;
    line-height: 27.32px;
    font-weight: 400;

    width: 51px;
    height: 25px;

    
}

.block2{
   
    margin-left: 125px;

}
.blockh2{
    width: 51px;
    height: 25px;

    margin-bottom: 30px;
}

h2{

    font-size: 16px;
    line-height: 24.59px;
    font-weight: 400;


}
.blockp2{
    width: 1048px;
    height: 366px;

    
}
p2{
    
    font-size: 42px;
    line-height: 61.47px;
    font-weight: 400;
}



a{
    display: block;
    width: 300px;
    height: 50px;
    border: 1px solid #AD1818;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color:white;
    background-color: #AD1818;

    margin-left: 125px;
    margin-top: 50px;
    
}   



